@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 576px) {
  .small-header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 16px;

    .container {
      @include flex-row;
      justify-content: space-between;

      .left {
        a {
          text-decoration: none;
          color: #0F172A;
          font-weight: 700;
          font-size: 32px;
        }
      }

      .right {
        display: flex;
        align-items: center;
      }
    }
  }
  header {
    display: none;
  }
  .welcome-section {
    display: none;
  }
  .enjoy {
    display: none;
  }
}