* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin SignUpFree {
  border-radius: 8px;
  background: #2563EB;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: flex;


  a {
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    font-family: "Ruboto", sans-serif;
  }
}

@mixin headerCenter {
  width: 330px;
  text-align: center;
  margin: 0 auto 30px;
}

@mixin sectionHeaders {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}

@mixin sectionParagraph {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
}

@mixin videoBox {
  .top-bar {
    @include flex-row;
    justify-content: space-between;
    padding: 8px 16px;
    border: 1px solid #CBD5E1;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    width: 100%;

    .item {
      width: 50%;
    }

    .circles {
      @include flex-row;

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 6px;
      }
    }

    .address-bar {
      position: absolute;
      left: 25%;
      width: 50%;
      text-align: center;
      background: #F1F5F9;
      border-radius: 5px;

      a {
        text-decoration: none;
        font-size: 12px;
        color: #94A3B8;
        font-family: "Ruboto", sans-serif;
      }
    }

    .arrows {
      display: flex;
      justify-content: right;
    }
  }

  .video {
    img {
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

    }
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 48px 16px;
}

button {
  border: none;
  background: white;
}


.small-nav-container {

}

.overflow {
  overflow: hidden;
}


.small-nav-container {
  background: #0F172A;
  @include flex-column;
  gap: 32px;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: -100%;
  top: 0;
  -webkit-transition: right 400ms ease;
  transition: right 400ms ease;
  padding: 100px 20px 20px;

  .small-nav-item {

    ul {
      list-style-type: none;
      padding: 0;
      @include flex-column;
      gap: 16px;

      .nav-item {
        .nav-link {
          color: white;
          font-size: 16px;
          font-family: "Ruboto", sans-serif;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }

  }
}


.small-header {
  display: block;
  padding: 20px 16px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;

  .container {
    @include flex-column;
    justify-content: space-between;

    .small-nav-menu {
      @include flex-row;
      justify-content: space-between;
      width: 100%;


      .left {
        a {
          @include sectionHeaders;
          font-size: 32px;
          text-decoration: none;
        }
      }

      .right {
        display: flex;
        align-items: center;
      }
    }
  }
}

header {
  padding: 20px 0;

  .container {
    @include flex-row;
    justify-content: space-between;

    a {
      font-weight: 900;
      color: #0F172A;
      font-size: 32px;
      text-decoration: none;
      height: 100%;
    }

    .header-nav {
      display: flex;
      align-items: center;

      ul {
        list-style-type: none;
        padding: 0;
        @include flex-row;
        gap: 8px;

        .nav-item {
          display: flex;
          gap: 8px;
          padding: 12px 8px;

          .nav-link {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            font-family: "Ruboto", sans-serif;
          }
        }
      }
    }

    .header-button {
      @include flex-row;
      gap: 16px;

      .log-in {
        padding: 8px 12px;

        a {
          color: #2563EB;
          font-size: 14px;
          font-weight: 700;
          padding: 0 16px;
        }
      }
    }

    .sign-up {
      @include SignUpFree;
    }

  }
}

.welcome-section {
  .container {

    .tel-version {
      @include flex-column;
      gap: 32px;

      .tel-item:first-child {
        @include flex-column;
        gap: 24px;
      }

      .section-text {
        @include flex-column;
        gap: 24px;

        h2 {
          @include sectionHeaders
        }

        p {
          @include sectionParagraph;
          color: #0F172A;
        }
      }

      .field {
        @include flex-row;
        align-items: center;
        gap: 8px;

        .item {
          width: 50%;
        }

        .field-form {
          padding: 12px 0;
          border-radius: 8px;
          border: 1px solid #CBD5E1;
          background: #FFF;

          .email {
            height: 22px;
            padding: 0 16px;
            border: none;
            width: 100%;
          }
        }

        .field-btn {
          .sign-up {
            @include SignUpFree;
          }
        }
      }

      .logos {
        @include flex-row;
        flex-wrap: wrap;
        gap: 16px;
        background: #F1F5F9;
        padding: 16px;

        .logos-container:first-child {
          padding: 0 32px;
        }

        .logos-container:last-child {
          padding-left: 4.5%;
          padding-right: 13.5%;
        }

        .logos-container {
          @include flex-row;
          width: 100%;
          justify-content: space-between;

          .logos-item {
            display: flex;
            gap: 6px;

            p {
              color: #94A3B8;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }

      .video-box {
        @include videoBox;
      }
    }

    .computer-version {
      display: none;

      .computer-item:first-child {
        @include flex-column;
        gap: 24px;
      }

      .section-text {
        @include flex-column;
        gap: 24px;

        h2 {
          @include sectionHeaders;
        }

        p {
          @include sectionParagraph;
          color: #0F172A;
          font-size: 18px;
        }
      }


      .field {
        @include flex-row;
        align-items: center;
        gap: 8px;


        .field-form {
          padding: 8px 0;
          border-radius: 8px;
          border: 1px solid #CBD5E1;
          background: #FFF;
          width: 65%;
          display: flex;
          align-items: center;

          label {
            padding-left: 16px;
            display: flex;
            align-items: center;
          }

          .email {
            height: 22px;
            padding: 0 16px;
            border: none;
            width: 100%;
          }
        }

        .field-btn {
          .sign-up {
            @include SignUpFree;
          }
        }
      }

      .logos {
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #F1F5F9;
        padding: 16px;

          .logos-item {
            display: flex;
            gap: 6px;

            p {
              color: #94A3B8;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }


      .video-box {
        @include videoBox;
      }
    }
  }
}

.enjoy {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    .section-text {
      @include flex-column;
      gap: 24px;

      .right-item {
        h2 {
          @include sectionHeaders;
        }

        p {
          @include sectionParagraph;
        }

        button {
          display: flex;
          align-items: center;
          background: #FFFFFF;

          a {
            text-decoration: none;
            color: #2563EB;
            font-weight: 500;
            font-size: 16px;
            padding-right: 16px;
          }
        }
      }
    }

    .left {
      @include flex-row;
      gap: 8px;

      .one-picture {
        padding-top: 48px;
      }

      .three-picture {
        padding-top: 24px;
      }

      .item-picture {
        width: 33.333%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.teams-needs {
  .container {
    @include flex-column;
    gap: 32px;

    .section-text {
      @include flex-column;
      gap: 24px;

      .left-item:last-child {
        display: none;

        .check {
          display: flex;

          a {
            color: #2563EB;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            line-height: 24px;
            padding-right: 4px;
          }
        }
      }

      .left-item {

        h2 {
          @include sectionHeaders;
        }

        p {
          @include sectionParagraph;
        }
      }
    }

    .right {
      position: relative;
      @include flex-column;
      align-items: center;
      height: 412px;

      .vector-lines {


        .lines-top {
          display: flex;
          align-items: self-end;
        }

        .lines-bottom {
          display: flex;
          justify-content: center;

          svg {
            display: flex;

            path {
              background: #C084FC;
              width: 100%;

            }
          }
        }
      }

      .vector-circles {
        @include flex-row;
        position: absolute;
        z-index: 10;
        top: 50%;
        justify-content: center;
        align-items: center;

        svg {
          position: absolute;

          path {
            background: #C084FC;
            flex-shrink: 0;
          }
        }
      }

      .vector-graphics {
        position: absolute;
        max-width: 414px;
        max-height: 414px;
        width: 100%;
        height: 100%;

        svg:first-child {
          left: 17%;
          top: 27%;
        }

        svg:last-child {
          left: 10.5%;
          top: 12%;
        }

        svg {
          position: absolute;
        }
      }

      .vector-icons {
        z-index: 10;
        position: absolute;
        max-width: 414px;
        max-height: 414px;
        height: 100%;
        width: 100%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          border-radius: 62.5px;
          border: 5px solid white;
          background: white;
          box-shadow: 0px 0px 3.75px 0px rgba(0, 0, 0, 0.07), 0px 6.25px 9.375px -1.875px rgba(0, 0, 0, 0.10);
        }


        .group-7 {
          left: 5%;
          top: 14%;
          padding: 5px;
        }

        .group-9 {
          left: 33%;
          top: -2%;
          padding: 3px;
        }

        .group-11 {
          left: 26%;
          top: 12%;
          padding: 0 5px;
        }

        .group-5 {
          top: 0;
          right: 22%;
          padding: 5px;
        }

        .group {
          right: 33%;
          top: 17%;
          padding: 2px 5px;
        }

        .group-8 {
          right: 17%;
          top: 20%;
        }

        .app-logo-05 {
          right: 8%;
          top: 32%;
          padding: 9px 0;
        }

        .wifi {
          right: -3%;
          bottom: 37%;
          padding: 2px 0;
        }

        .group-1 {
          right: 13%;
          bottom: 23%;
          padding: 2px;
        }

        .group-6 {
          right: 33%;
          bottom: 7%;
          padding: 5px;
        }

        .pack {
          left: 25%;
          padding: 2px;
          bottom: 0;
        }

        .group-10 {
          right: 45%;
          bottom: 25%;
          padding: 5px 10px;
        }

        .group-2 {
          left: 9%;
          bottom: 25%;
          padding: 6px 4px;
        }

        .group-4 {
          left: -4%;
          top: 45%;
          padding: 3px;
        }

        .group-3 {
          left: 32%;
          top: 30%;
          padding: 6px;
        }

      }
    }
  }
}

.problems {
  background-image: url("images/Section.png");
  height: 434px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.improve {
  .container {
    @include flex-column;
    gap: 32px;


    .left {
      @include flex-column;
      gap: 32px;

      .tabs-improve {

        @include flex-column;
        gap: 24px;

        .tab-active {
          background: #F1F5F9;
        }

        .tabs-btn {
          @include flex-row;

          button {
            width: 33.333%;
            font-size: 16px;
            font-family: "Ruboto", sans-serif;
            display: flex;
            justify-content: center;
            padding: 16px;
            font-weight: 600;
            max-height: 48px;
            height: 100%;
            border: 1px solid #CBD5E1;
          }

          button:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }

          button:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        .tabs-content {
          p {
            @include sectionParagraph;
            color: #475569;
          }
        }
      }

      .left-item {
        h2 {
          @include sectionHeaders;
        }


        button {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: #2563EB;
            font-weight: 500;
            font-size: 16px;
            padding-right: 16px;
          }
        }
      }

    }

    .right {
      .video-box {
        @include videoBox;
      }
    }
  }
}

.promo {
  background: linear-gradient(134deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 47.44%, #701A75 100%);

  .container {
    @include flex-column;
    gap: 24px;

    .promo-item:last-child {
      display: flex;
      justify-content: center;

      button {
        @include SignUpFree
      }
    }

    .promo-item {

      .tel-version {
        @include sectionHeaders;
        color: #FFFFFF;
        text-align: center;
        font-weight: 600;
      }

      .computer-version {
        @include sectionHeaders;
        color: #FFFFFF;
        text-align: center;
        font-weight: 600;
      }

      p {
        @include sectionParagraph;
        color: #FFFFFF;
        text-align: center;
        font-weight: 300;
      }
    }

  }
}

.footer {
  padding: 24px 16px;

  .container {
    @include flex-column;
    gap: 16px;

    .item1 {
      p {
        @include sectionParagraph;
        color: #475569;
      }
    }

    .item {
      a {
        text-decoration: none;

        h4 {
          color: #0F172A;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .footer-nav {
        @include flex-row;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;

        .nav-item {
          padding: 12px 0;

          .nav-link {
            font-size: 16px;
            color: #475569;
          }
        }

      }
    }
  }
}