* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 48px 16px;
}

button {
  border: none;
  background: white;
}

.overflow {
  overflow: hidden;
}

.small-nav-container {
  background: #0F172A;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: -100%;
  top: 0;
  -webkit-transition: right 400ms ease;
  transition: right 400ms ease;
  padding: 100px 20px 20px;
}
.small-nav-container .small-nav-item ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.small-nav-container .small-nav-item ul .nav-item .nav-link {
  color: white;
  font-size: 16px;
  font-family: "Ruboto", sans-serif;
  text-decoration: none;
  font-weight: 700;
}

.small-header {
  display: block;
  padding: 20px 16px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.small-header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-header .container .small-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.small-header .container .small-nav-menu .left a {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
  font-size: 32px;
  text-decoration: none;
}
.small-header .container .small-nav-menu .right {
  display: flex;
  align-items: center;
}

header {
  padding: 20px 0;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .container a {
  font-weight: 900;
  color: #0F172A;
  font-size: 32px;
  text-decoration: none;
  height: 100%;
}
header .container .header-nav {
  display: flex;
  align-items: center;
}
header .container .header-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
header .container .header-nav ul .nav-item {
  display: flex;
  gap: 8px;
  padding: 12px 8px;
}
header .container .header-nav ul .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Ruboto", sans-serif;
}
header .container .header-button {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
header .container .header-button .log-in {
  padding: 8px 12px;
}
header .container .header-button .log-in a {
  color: #2563EB;
  font-size: 14px;
  font-weight: 700;
  padding: 0 16px;
}
header .container .sign-up {
  border-radius: 8px;
  background: #2563EB;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: flex;
}
header .container .sign-up a {
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  font-family: "Ruboto", sans-serif;
}

.welcome-section .container .tel-version {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.welcome-section .container .tel-version .tel-item:first-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.welcome-section .container .tel-version .section-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.welcome-section .container .tel-version .section-text h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}
.welcome-section .container .tel-version .section-text p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #0F172A;
}
.welcome-section .container .tel-version .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.welcome-section .container .tel-version .field .item {
  width: 50%;
}
.welcome-section .container .tel-version .field .field-form {
  padding: 12px 0;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  background: #FFF;
}
.welcome-section .container .tel-version .field .field-form .email {
  height: 22px;
  padding: 0 16px;
  border: none;
  width: 100%;
}
.welcome-section .container .tel-version .field .field-btn .sign-up {
  border-radius: 8px;
  background: #2563EB;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: flex;
}
.welcome-section .container .tel-version .field .field-btn .sign-up a {
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  font-family: "Ruboto", sans-serif;
}
.welcome-section .container .tel-version .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  background: #F1F5F9;
  padding: 16px;
}
.welcome-section .container .tel-version .logos .logos-container:first-child {
  padding: 0 32px;
}
.welcome-section .container .tel-version .logos .logos-container:last-child {
  padding-left: 4.5%;
  padding-right: 13.5%;
}
.welcome-section .container .tel-version .logos .logos-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.welcome-section .container .tel-version .logos .logos-container .logos-item {
  display: flex;
  gap: 6px;
}
.welcome-section .container .tel-version .logos .logos-container .logos-item p {
  color: #94A3B8;
  font-size: 16px;
  font-weight: 600;
}
.welcome-section .container .tel-version .video-box .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid #CBD5E1;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
}
.welcome-section .container .tel-version .video-box .top-bar .item {
  width: 50%;
}
.welcome-section .container .tel-version .video-box .top-bar .circles {
  display: flex;
  flex-direction: row;
}
.welcome-section .container .tel-version .video-box .top-bar .circles ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 6px;
}
.welcome-section .container .tel-version .video-box .top-bar .address-bar {
  position: absolute;
  left: 25%;
  width: 50%;
  text-align: center;
  background: #F1F5F9;
  border-radius: 5px;
}
.welcome-section .container .tel-version .video-box .top-bar .address-bar a {
  text-decoration: none;
  font-size: 12px;
  color: #94A3B8;
  font-family: "Ruboto", sans-serif;
}
.welcome-section .container .tel-version .video-box .top-bar .arrows {
  display: flex;
  justify-content: right;
}
.welcome-section .container .tel-version .video-box .video img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.welcome-section .container .computer-version {
  display: none;
}
.welcome-section .container .computer-version .computer-item:first-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.welcome-section .container .computer-version .section-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.welcome-section .container .computer-version .section-text h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}
.welcome-section .container .computer-version .section-text p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #0F172A;
  font-size: 18px;
}
.welcome-section .container .computer-version .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.welcome-section .container .computer-version .field .field-form {
  padding: 8px 0;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  background: #FFF;
  width: 65%;
  display: flex;
  align-items: center;
}
.welcome-section .container .computer-version .field .field-form label {
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.welcome-section .container .computer-version .field .field-form .email {
  height: 22px;
  padding: 0 16px;
  border: none;
  width: 100%;
}
.welcome-section .container .computer-version .field .field-btn .sign-up {
  border-radius: 8px;
  background: #2563EB;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: flex;
}
.welcome-section .container .computer-version .field .field-btn .sign-up a {
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  font-family: "Ruboto", sans-serif;
}
.welcome-section .container .computer-version .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #F1F5F9;
  padding: 16px;
}
.welcome-section .container .computer-version .logos .logos-item {
  display: flex;
  gap: 6px;
}
.welcome-section .container .computer-version .logos .logos-item p {
  color: #94A3B8;
  font-size: 16px;
  font-weight: 600;
}
.welcome-section .container .computer-version .video-box .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid #CBD5E1;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
}
.welcome-section .container .computer-version .video-box .top-bar .item {
  width: 50%;
}
.welcome-section .container .computer-version .video-box .top-bar .circles {
  display: flex;
  flex-direction: row;
}
.welcome-section .container .computer-version .video-box .top-bar .circles ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 6px;
}
.welcome-section .container .computer-version .video-box .top-bar .address-bar {
  position: absolute;
  left: 25%;
  width: 50%;
  text-align: center;
  background: #F1F5F9;
  border-radius: 5px;
}
.welcome-section .container .computer-version .video-box .top-bar .address-bar a {
  text-decoration: none;
  font-size: 12px;
  color: #94A3B8;
  font-family: "Ruboto", sans-serif;
}
.welcome-section .container .computer-version .video-box .top-bar .arrows {
  display: flex;
  justify-content: right;
}
.welcome-section .container .computer-version .video-box .video img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.enjoy .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}
.enjoy .container .section-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.enjoy .container .section-text .right-item h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}
.enjoy .container .section-text .right-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
}
.enjoy .container .section-text .right-item button {
  display: flex;
  align-items: center;
  background: #FFFFFF;
}
.enjoy .container .section-text .right-item button a {
  text-decoration: none;
  color: #2563EB;
  font-weight: 500;
  font-size: 16px;
  padding-right: 16px;
}
.enjoy .container .left {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.enjoy .container .left .one-picture {
  padding-top: 48px;
}
.enjoy .container .left .three-picture {
  padding-top: 24px;
}
.enjoy .container .left .item-picture {
  width: 33.333%;
}
.enjoy .container .left .item-picture img {
  width: 100%;
}

.teams-needs .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.teams-needs .container .section-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.teams-needs .container .section-text .left-item:last-child {
  display: none;
}
.teams-needs .container .section-text .left-item:last-child .check {
  display: flex;
}
.teams-needs .container .section-text .left-item:last-child .check a {
  color: #2563EB;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  line-height: 24px;
  padding-right: 4px;
}
.teams-needs .container .section-text .left-item h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}
.teams-needs .container .section-text .left-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
}
.teams-needs .container .right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
}
.teams-needs .container .right .vector-lines .lines-top {
  display: flex;
  align-items: self-end;
}
.teams-needs .container .right .vector-lines .lines-bottom {
  display: flex;
  justify-content: center;
}
.teams-needs .container .right .vector-lines .lines-bottom svg {
  display: flex;
}
.teams-needs .container .right .vector-lines .lines-bottom svg path {
  background: #C084FC;
  width: 100%;
}
.teams-needs .container .right .vector-circles {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  top: 50%;
  justify-content: center;
  align-items: center;
}
.teams-needs .container .right .vector-circles svg {
  position: absolute;
}
.teams-needs .container .right .vector-circles svg path {
  background: #C084FC;
  flex-shrink: 0;
}
.teams-needs .container .right .vector-graphics {
  position: absolute;
  max-width: 414px;
  max-height: 414px;
  width: 100%;
  height: 100%;
}
.teams-needs .container .right .vector-graphics svg:first-child {
  left: 17%;
  top: 27%;
}
.teams-needs .container .right .vector-graphics svg:last-child {
  left: 10.5%;
  top: 12%;
}
.teams-needs .container .right .vector-graphics svg {
  position: absolute;
}
.teams-needs .container .right .vector-icons {
  z-index: 10;
  position: absolute;
  max-width: 414px;
  max-height: 414px;
  height: 100%;
  width: 100%;
}
.teams-needs .container .right .vector-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 62.5px;
  border: 5px solid white;
  background: white;
  box-shadow: 0px 0px 3.75px 0px rgba(0, 0, 0, 0.07), 0px 6.25px 9.375px -1.875px rgba(0, 0, 0, 0.1);
}
.teams-needs .container .right .vector-icons .group-7 {
  left: 5%;
  top: 14%;
  padding: 5px;
}
.teams-needs .container .right .vector-icons .group-9 {
  left: 33%;
  top: -2%;
  padding: 3px;
}
.teams-needs .container .right .vector-icons .group-11 {
  left: 26%;
  top: 12%;
  padding: 0 5px;
}
.teams-needs .container .right .vector-icons .group-5 {
  top: 0;
  right: 22%;
  padding: 5px;
}
.teams-needs .container .right .vector-icons .group {
  right: 33%;
  top: 17%;
  padding: 2px 5px;
}
.teams-needs .container .right .vector-icons .group-8 {
  right: 17%;
  top: 20%;
}
.teams-needs .container .right .vector-icons .app-logo-05 {
  right: 8%;
  top: 32%;
  padding: 9px 0;
}
.teams-needs .container .right .vector-icons .wifi {
  right: -3%;
  bottom: 37%;
  padding: 2px 0;
}
.teams-needs .container .right .vector-icons .group-1 {
  right: 13%;
  bottom: 23%;
  padding: 2px;
}
.teams-needs .container .right .vector-icons .group-6 {
  right: 33%;
  bottom: 7%;
  padding: 5px;
}
.teams-needs .container .right .vector-icons .pack {
  left: 25%;
  padding: 2px;
  bottom: 0;
}
.teams-needs .container .right .vector-icons .group-10 {
  right: 45%;
  bottom: 25%;
  padding: 5px 10px;
}
.teams-needs .container .right .vector-icons .group-2 {
  left: 9%;
  bottom: 25%;
  padding: 6px 4px;
}
.teams-needs .container .right .vector-icons .group-4 {
  left: -4%;
  top: 45%;
  padding: 3px;
}
.teams-needs .container .right .vector-icons .group-3 {
  left: 32%;
  top: 30%;
  padding: 6px;
}

.problems .problems-none-container {
  background-image: url("images/non-style-container.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  position: relative;
  display: flex;
  padding: 48px 24px;
}
.problems .problems-none-container .section-text {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 24px;
}
.problems .problems-none-container .section-text .problems-item h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
  color: #FFFFFF;
  font-size: 35px;
}
.problems .problems-none-container .section-text .problems-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
}
.problems .problems-none-container .section-text .problems-item button {
  padding: 12px 0;
  background: none;
  display: flex;
}
.problems .problems-none-container .section-text .problems-item button a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-right: 16px;
  line-height: 24px;
}
.problems .problems-none-container:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%);
  opacity: 0.9;
}
.problems .container {
  background-image: url("images/non-style-container.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: right;
  padding: 40px;
}
.problems .container .section-text {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 24px;
}
.problems .container .section-text .problems-item h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
  color: #FFFFFF;
}
.problems .container .section-text .problems-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #FFFFFF;
  font-weight: 300;
}
.problems .container .section-text .problems-item button {
  padding: 12px 0;
  background: none;
  display: flex;
}
.problems .container .section-text .problems-item button a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-right: 16px;
  line-height: 24px;
}
.problems .container:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%);
  opacity: 0.9;
}

.improve .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.improve .container .left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.improve .container .left .tabs-improve {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.improve .container .left .tabs-improve .tab-active {
  background: #F1F5F9;
}
.improve .container .left .tabs-improve .tabs-btn {
  display: flex;
  flex-direction: row;
}
.improve .container .left .tabs-improve .tabs-btn button {
  width: 33.333%;
  font-size: 16px;
  font-family: "Ruboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 16px;
  font-weight: 600;
  max-height: 48px;
  height: 100%;
  border: 1px solid #CBD5E1;
}
.improve .container .left .tabs-improve .tabs-btn button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.improve .container .left .tabs-improve .tabs-btn button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.improve .container .left .tabs-improve .tabs-content p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #475569;
}
.improve .container .left .left-item h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
}
.improve .container .left .left-item button {
  display: flex;
  align-items: center;
}
.improve .container .left .left-item button a {
  text-decoration: none;
  color: #2563EB;
  font-weight: 500;
  font-size: 16px;
  padding-right: 16px;
}
.improve .container .right .video-box .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid #CBD5E1;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
}
.improve .container .right .video-box .top-bar .item {
  width: 50%;
}
.improve .container .right .video-box .top-bar .circles {
  display: flex;
  flex-direction: row;
}
.improve .container .right .video-box .top-bar .circles ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 6px;
}
.improve .container .right .video-box .top-bar .address-bar {
  position: absolute;
  left: 25%;
  width: 50%;
  text-align: center;
  background: #F1F5F9;
  border-radius: 5px;
}
.improve .container .right .video-box .top-bar .address-bar a {
  text-decoration: none;
  font-size: 12px;
  color: #94A3B8;
  font-family: "Ruboto", sans-serif;
}
.improve .container .right .video-box .top-bar .arrows {
  display: flex;
  justify-content: right;
}
.improve .container .right .video-box .video img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.promo {
  background: linear-gradient(134deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 47.44%, #701A75 100%);
}
.promo .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.promo .container .promo-item:last-child {
  display: flex;
  justify-content: center;
}
.promo .container .promo-item:last-child button {
  border-radius: 8px;
  background: #2563EB;
  color: white;
  text-decoration: none;
  padding: 12px;
  display: flex;
}
.promo .container .promo-item:last-child button a {
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  font-family: "Ruboto", sans-serif;
}
.promo .container .promo-item .tel-version {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
}
.promo .container .promo-item .computer-version {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  color: #0F172A;
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
}
.promo .container .promo-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
  font-weight: 300;
}

.footer {
  padding: 24px 16px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .container .item1 p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 140%;
  color: #475569;
}
.footer .container .item a {
  text-decoration: none;
}
.footer .container .item a h4 {
  color: #0F172A;
  font-size: 18px;
  font-weight: 700;
}
.footer .container .item .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.footer .container .item .footer-nav .nav-item {
  padding: 12px 0;
}
.footer .container .item .footer-nav .nav-item .nav-link {
  font-size: 16px;
  color: #475569;
}

/*# sourceMappingURL=style.css.map */
